.travel_app_container {
  width: 500px;
  margin: 0 auto;
  padding: 20px 0;
}

.travel_app_connection_description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
}

.travel_app_action {
  text-align: center;
}

.travel_app_status {
  text-align: center;
  margin-top: 5px;
}
